/* Write your CSS code here. */
.feedback-app {
  background-color: #ffc0bb;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
